<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignyte - The Beer Lounge | Menu</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .main-content {
            width: 50%;
            margin: auto;
        }

        header {
            background-color: #e7b532;
            color: #fff;
            padding: 1em;
            text-align: center;
            margin-bottom: 40px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #ffe6a7;
        }

        th:last-child {
            text-align: right;
        }

        td:last-child {
            text-align: right;
        }

        @media only screen and (max-width: 538px) {
            .main-content {
                width: 90%;
            }

            table, th, td {
                overflow-x: scroll;
            }
        }
        
    </style>
</head>

<body>

    <header>
        <h1>Ignyte - The Beer Lounge | Menu</h1>
    </header>
    <div class="main-content">
        <h2>SANDWICH</h2>

        <table>
            <tr>
                <th>VEGETARIAN</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>GRILL VEG SANDWICH</td>
                <td>199</td>
            </tr>
            <tr>
                <td>PESTO MUSHROOM SANDWICH</td>
                <td>220</td>
            </tr>
            <tr>
                <td>TOMATO MOZZARELLA SANDWICH</td>
                <td>190</td>
            </tr>
            <tr>
                <td>SPINACH AND CHEESE SANDWICH</td>
                <td>199</td>
            </tr>
        </table>

        <table>
            <tr>
                <th>NON-VEGETARIAN</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>GRILLED CHICKEN SANDWICH</td>
                <td>299</td>
            </tr>
            <tr>
                <td>CHICKEN TIKKA SANDWICH</td>
                <td>299</td>
            </tr>
            <tr>
                <td>CHICKEN MAYO SANDWICH</td>
                <td>299</td>
            </tr>
            <tr>
                <td>CHICKEN SALAMI SANDWICH</td>
                <td>299</td>
            </tr>
        </table>

        <h2>PASTA</h2>

        <table>
            <tr>
                <th>VEGETARIAN</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>WHITE SAUCE PASTA</td>
                <td>299</td>
            </tr>
            <tr>
                <td>RED SAUCE PASTA</td>
                <td>249</td>
            </tr>
            <tr>
                <td>PESTO PASTA</td>
                <td>249</td>
            </tr>
            <tr>
                <td>SPINACH AND CORN PASTA</td>
                <td>249</td>
            </tr>
        </table>

        <table>
            <tr>
                <th>NON-VEGETARIAN</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>CHICKEN ALFREDO PASTA</td>
                <td>349</td>
            </tr>
            <tr>
                <td>CHICKEN TIKKA PASTA</td>
                <td>349</td>
            </tr>
            <tr>
                <td>CHICKEN PESTO PASTA</td>
                <td>349</td>
            </tr>
            <tr>
                <td>CHICKEN ARRABIATA PASTA</td>
                <td>349</td>
            </tr>
        </table>

        <h2>PLATTERS</h2>

        <table>
            <tr>
                <th>VEGETARIAN</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>VEG BIRYANI</td>
                <td>299</td>
            </tr>
            <tr>
                <td>VEG THALI</td>
                <td>399</td>
            </tr>
            <tr>
                <td>VEG KADAI</td>
                <td>299</td>
            </tr>
            <tr>
                <td>VEG MANCHURIAN</td>
                <td>299</td>
            </tr>
        </table>

        <table>
            <tr>
                <th>NON-VEGETARIAN</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>CHICKEN BIRYANI</td>
                <td>399</td>
            </tr>
            <tr>
                <td>CHICKEN THALI</td>
                <td>499</td>
            </tr>
            <tr>
                <td>CHICKEN KADAI</td>
                <td>399</td>
            </tr>
            <tr>
                <td>CHICKEN MANCHURIAN</td>
                <td>399</td>
            </tr>
        </table>

        <h1>LIVE BBQ (WEEKENDS ONLY)</h1>

        <h2>VEGETARIAN</h2>

        <table>
            <tr>
                <th>ITEM</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>PANEER HARIYALI</td>
                <td>219</td>
            </tr>
            <tr>
                <td>MUSHROOM ACHARI</td>
                <td>219</td>
            </tr>
            <tr>
                <td>CORN ACHARI</td>
                <td>219</td>
            </tr>
            <tr>
                <td>ASSORTED VEGGIES (Sweet corn, Broccoli, paneer, mushroom)</td>
                <td>269</td>
            </tr>
        </table>

        <h2>NON-VEGETARIAN</h2>

        <table>
            <tr>
                <th>ITEM</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>CHICKEN HARIYALI TIKKA</td>
                <td>289</td>
            </tr>
            <tr>
                <td>TANGDI KABAB</td>
                <td>280</td>
            </tr>
            <tr>
                <td>PERI PERI CHICKEN TIKKA</td>
                <td>290</td>
            </tr>
        </table>

        <h3>Add Ons</h3>

        <table>
            <tr>
                <th>ITEM</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>Extra Cheese</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Extra Egg</td>
                <td>25</td>
            </tr>
            <tr>
                <td>Extra Chicken</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Extra Mayonnaise</td>
                <td>20</td>
            </tr>
        </table>

        <h2>PIZZA</h2>

        <h3>VEGETARIAN</h3>
        <table>
            <tr>
                <th>PIZZA NAME</th>
                <th>INGREDIENTS</th>
                <th>8" PRICE</th>
                <th>12" PRICE</th>
            </tr>
            <tr>
                <td>CLASSIC MARGHERITA</td>
                <td>mozzarella, tomato</td>
                <td>199</td>
                <td>229</td>
            </tr>
            <tr>
                <td>FARM VEG</td>
                <td>onion, capsicum, olives, jalapeño</td>
                <td>239</td>
                <td>289</td>
            </tr>
            <tr>
                <td>AL-FUNGHI PIZZA</td>
                <td>mushroom, fresh parsley</td>
                <td>229</td>
                <td>289</td>
            </tr>
            <tr>
                <td>INDI PANEER TIKKA</td>
                <td>paneer tikka, onion, capsicum</td>
                <td>269</td>
                <td>319</td>
            </tr>
            <tr>
                <td>SPICY TREAT PIZZA</td>
                <td>green chilly, capsicum, jalapeño</td>
                <td>219</td>
                <td>279</td>
            </tr>
        </table>

        <h2>Drinks</h2>

        <h4>Milkshakes</h4>

        <table>
            <tr>
                <th>ITEM</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>HORLICKS KITKAT</td>
                <td>220</td>
            </tr>
            <tr>
                <td>FERRERO ROCHER</td>
                <td>260</td>
            </tr>
            <tr>
                <td>MANGO OREO</td>
                <td>220</td>
            </tr>
            <tr>
                <td>DARK CHOCOLATE</td>
                <td>220</td>
            </tr>
            <tr>
                <td>NUTELLA</td>
                <td>240</td>
            </tr>
        </table>

        <h4>Mocktails</h4>

        <table>
            <tr>
                <th>ITEM</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>LAVENDER MOJITO</td>
                <td>200</td>
            </tr>
            <tr>
                <td>RED OXIDE</td>
                <td>180</td>
            </tr>
            <tr>
                <td>MANGO TANGO</td>
                <td>200</td>
            </tr>
            <tr>
                <td>BERRY BLAST</td>
                <td>230</td>
            </tr>
            <tr>
                <td>VIRGIN MOJITO</td>
                <td>200</td>
            </tr>
        </table>

        <h2>Desserts</h2>

        <table>
            <tr>
                <th>ITEM</th>
                <th>PRICE</th>
            </tr>
            <tr>
                <td>CHOCO BOMB</td>
                <td>200</td>
            </tr>
            <tr>
                <td>BROWNIE AND ICE CREAM</td>
                <td>200</td>
            </tr>
            <tr>
                <td>CHEESE CAKE /BLUEBERRY/STRAWBERRY/MANGO</td>
                <td>299</td>
            </tr>
        </table>
    </div>
</body>

</html>
